{
  "123456789": {
    "name": "Иван",
    "nicknames": [
      "Vano",
      "Иваныч"
    ],
    "known_info": "любит играть в настольные игры, особенно в 'Каркассон'"
  },
  "987654321": {
    "name": "Мария",
    "nicknames": [
      "Маша",
      "Машенька"
    ],
    "known_info": "отлично готовит пиццу и недавasdasно завела корги по имени Бублик"
  },
  "111222333": {
    "name": "Алексей",
    "nicknames": [
      "Лёха",
      "Программист"
    ],
    "known_info": "создатель бота, часто просит проверить новые функции"
  }
}